<div href="#!" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-2 h5">@{{user}}</h5>
        <a class="btn btn-danger btn-delete btn-sm rounded  px-2 my-1" type="button" role="button"
            data-commentid={{_id}}><i class="fas fa-trash-alt fa-lg"></i></a>
    </div>
    <p class="mb-2">{{body}}</p>
</div>