<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">VR News</h1>
        <p class="lead">See the latest articles from Road to VR</p>
        <hr class="my-2">
        <p>test</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">

        {{#each articles}}

        {{> article/article-block }}

        {{/each}}
    </div>
</div>